@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

h1{
    background-color: rgb(112, 193, 65);
    font-size: 50px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-style: italic;
} 

h2{
    background-color: rgb(131, 180, 103);
    font-size: 30px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-align: center;
} 

