@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

h1{
    background-color: rgb(156, 223, 244);
    font-size: 50px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-style: italic;
} 

h2{
    background-color: rgb(139, 183, 197);
    font-size: 30px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-align: center;
} 

#total_abajo{
    background-color: rgb(139, 183, 197);
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-style: italic;
}


li{
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.container{
    min-height: 70vh;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 5px 0;
}

.container form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 15px;
    width: 700px;
    padding-top: 10px;
}

.container form .inputBox{
    margin-top: 20px;
}

.container form .inputBox span{
    display: block;
    color:#444;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.container form .flexbox{
    display: flex;
    gap:15px;
}

.container form .flexbox .inputBox{
    flex:auto;
}

.container form .submit-btn{
    width: 100%;
    background-color: #444;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s linear;
}

.container form .submit-btn:hover{
    letter-spacing: 1px;
    opacity: .8;
}